@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Regular.woff2") format('woff2'),
    url("../fonts/PTSans-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format('woff2'),
    url("../fonts/PTSans-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Variables */

:root {
  --basic-black: #000000;
  --secondary-black: #333333;
  --basic-white: #ffffff;
  --basic-extra-dark: #666666;
  --basic-light: #a9a9a9;
  /* #bdbbbs -> #a9a9a9 */
  --basic-lighter: #ebebeb;
  /* #e5e5e5 -> #ebebeb */
  --basic-lightest: #f2f2f2;
  --basic-neutral: #eeeeee;

  --special-light-color: #81b3d2;
  --special-second-light-color: #669ec0;
  --special-third-light-color: #5496bd;

  --special-dark-color: #766357;
  --special-second-dark-color: #604e43;
  --special-third-dark-color: #503e33;

  --transparent-white: rgba(255, 255, 255, 0.3);
  --transparent-black: rgba(0, 0, 0, 0.3);
  --transparent-white-second: rgba(255, 255, 255, 0.9);
}

/*Global*/

*, *::after, *::before {
  box-sizing: border-box;
}

.page {
  background-color: var(--basic-lightest);
  box-sizing: border-box;

  height: 100%;
}

.page__body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);

  height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  /*Если картинка будет большая, то */
  height: auto;
  /*она не будет выходить за пределы родительского контейнера*/
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
img {
  margin: 0;
  padding: 0;
}

button,
select,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  border: none;
}

input {
  outline: none;
  border: none;
}

fieldset {
  border: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/*---------НАДО НАЙТИ, КАК ПРИМЕНЯТЬ НАСТРОЙКИ PLACEHOLDER К КОНТКРЕТНЫМ КЛАССАМЮ А ПОКА ОБЩЕЕ---------*/

::-webkit-input-placeholder {
  color: var(--basic-black);
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

::-moz-placeholder {
  color: var(--basic-black);
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

:-ms-input-placeholder {
  color: var(--basic-black);
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

:-moz-placeholder {
  color: var(--basic-black);
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

/*----------------------------------------------------------------------------------------------------------*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 5px 0 15px -4px var(--transparent-black), -5px 0 15px -4px var(--transparent-black);

  min-height: 100%;
  display: grid;
  grid-template-rows:
  min-content
  1fr
  min-content;
}

/*Navigation*/

.header {
  position: relative;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

.navigation {
  font-weight: 700;
  line-height: 26px;
  background-color: transparent;
}


/*ВЫЯСНИТЬ, МОЖНО ЛИ ЗАДАВАТЬ ОБЩИЕ НАСТРОЙКИ ДЛЯ ВСЕХ УЛ ИЛИ ЛУЧШЕ ПО ОТДЕЛЬНОСТИ*/


.navigation__list {
  width: 1060px;
  margin: 0 auto;
  display: flex;
}

.navigation__list li {
  width: 227px;
  padding-left: 3px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation__list li:nth-child(2) {
  margin-right: 152px;
}

.navigation__list li:nth-last-child(1) {
  text-align: end;
}

.navigation__list li:nth-last-child(2) {
  text-align: end;
}

.navigation__list a {
  color: var(--basic-black);
}

.navigation__list a:hover {
  color: var(--special-light-color);
}

.navigation__list a:focus {
  color: var(--transparent-black);
}

.navigation__current a {
  cursor: default;
  color: var(--special-dark-color);
}

.navigation__current a:focus,
.navigation__current a:hover {
  color: var(--special-dark-color);
}

/*Welcome*/
.welcome {
  display: grid;
  grid-template-rows: 1fr 80px;
  margin-bottom: 41px;
  width: 100%;
  height: 509px;
  background-image: url(../img/background-main.jpg);
  background-repeat: no-repeat;
}

.welcome__img {
  width: 456px;
  height: 350px;
  align-self: end;
  justify-self: center;
}

.welcome__border {
  align-self: end;
}

/*Reason*/

.reason {
  margin-bottom: 58px;
  text-align: center;
}

.reason h1 {
  width: 470px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.reason h2 {
  margin-bottom: 51px;
  padding-top: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.reason__wrapper {
  display: grid;
  grid-template-rows: 842px 256px;
}

.item-reason__first {
  display: grid;
  grid-template-rows: 256px 330px;
  grid-template-columns: 1fr 1fr 1fr;
}

.item-reason__second {
  grid-row: 2/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.reason__list-first {
  display: grid;
  grid-template-rows: 586px 256px;
}

.reason__long-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 48px;
  padding-right: 48px;
  color: var(--basic-white);
  background-color: var(--special-light-color);
}

.item-reason__first .reason__long-row {
  grid-column: 1/2;
}

.item-reason__second .reason__long-row {
  grid-column: 3/-1;
  /* height: 256px; */
}

.reason__img-box {
  background-color: var(--basic-neutral);
}

.reason__img-box-first {
  grid-column: 2/-1;
}

.reason__img-box-second {
  grid-column: 1/3;
}


.reason__subtitle {
  max-width: 150px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 25px;
}

.reason__number {
  margin-bottom: 23px;
}

.reason__uncolored {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--basic-neutral);
}

.reason__uncolored .reason__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 258px;
  margin: 0 auto;
}

/*Advice*/

.advice {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.advice__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 300px;
  margin: 0 auto;
}

.advice__title {
  padding-top: 160px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.home::before {
  content: " ";
  width: 75px;
  height: 72px;
  background-image: url(../img/icons/icon-house.svg);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.food::before {
  content: " ";
  width: 75px;
  height: 70px;
  background-image: url(../img/icons/icon-food.svg);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.presents::before {
  content: " ";
  width: 64px;
  height: 77px;
  background-image: url(../img/icons/icon-present.svg);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}



/*Popup Search*/

.popup-search {
  width: 568px;
  margin: 0 auto;
}

.popup-search h2 {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
}

.popup-search__description {
  margin-bottom: 50px;
  text-align: center;
  line-height: 24px;
}

.popup-search__button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.popup-search__open {
  width: 568px;
  height: 86px;
  display: block;
  margin: 0 auto;
}

.popup-search__action {
  width: 458px;
  height: 58px;
  display: block;
  margin: 0 auto;
}

.button--dark {
  background-color: var(--special-dark-color);
}

.button--dark:hover {
  background-color: var(--special-second-dark-color);
}

.button--dark:focus {
  color: var(--transparent-white);
  background-color: var(--special-third-dark-color);
}

.button--light {
  background-color: var(--special-light-color);
}

.button--light:hover {
  background-color: var(--special-second-light-color);
}

.button--light:focus {
  color: var(--transparent-white);
  background-color: var(--special-third-light-color);
}

.popup-search__form {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 55px;
  font-weight: 700;
  line-height: 26px;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  background-color: var(--basic-white);
}

.popup-search__form input {
  border: none;
  background-color: var(--basic-lightest);
}

.popup-search__box {
  margin-bottom: 30px;
}

.date-box {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.date-box label {
  align-self: center;
}

.date-box input {
  width: 346px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.date-box button {
  position: absolute;
  width: 21px;
  height: 23px;
  padding: 0;
  right: 9px;
  bottom: 9px;
  cursor: pointer;
}

.count-box {
  margin-bottom: 54px;
  display: flex;
  justify-content: space-between;
}

.popup-search__form span {
  font-weight: 700;
  line-height: 26px;
}

.count-box__inner {
  display: flex;
}

.count-box span {
  align-self: center;
}

.count-box input {
  width: 38px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.count-button {
  width: 38px;
  cursor: pointer;
}

/*Inner page*/

/*Inner_*/

.inner-page__container {
  width: 1054px;
  margin: 0 auto;
}

/*Search form*/

.search {
  margin-bottom: 29px;
  background-image: url(../img/background.jpg);
  background-color: var(--basic-extra-dark);
  width: 100%;
  min-height: 217px;
  background-size: cover;
}

.search__form {
  padding-top: 26px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.search__fieldset {
  padding: 0;
  color: var(--basic-white);
}

.search__fieldset legend {
  font-weight: 700;
  font-size: 16px
}

.search__fieldset li {
  margin-bottom: 25px;
}

.search__fieldset li:last-child {
  margin-bottom: 0;
}

.fieldset-structure {
  flex-basis: 230px;
}

.fieldset-structure legend {
  margin-bottom: 24px;
}

.fieldset-structure label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 40px;
}

.fieldset-structure__input + label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/icons/checkbox-off.svg);
  background-repeat: no-repeat;
  left: 0;
}

.fieldset-structure__input:checked + label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/icons/checkbox-on.svg);
  background-repeat: no-repeat;
  left: 0;
}

.fieldset-type {
  flex-basis: 230px;
  flex-grow: 1;
}

.fieldset-type legend {
  margin-bottom: 24px;
}

.fieldset-type label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 40px;
}

.fieldset-type__input + label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/icons/checkbox-off.svg);
  background-repeat: no-repeat;
  left: 0;
}

.fieldset-type__input:checked + label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/icons/checkbox-on.svg);
  background-repeat: no-repeat;
  left: 0;
}

.fieldset__wrapper {
  flex-basis: 317px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fieldset-price legend {
  margin-bottom: 10px;
}

.fieldset-price__input-box {
  display: grid;
  grid-template-columns: 84px 74px 74px 81px;
  width: 317px;
  padding-top: 7px;
  padding-bottom: 8px;
  margin-bottom: 20px;
  position: relative;
  align-items: baseline;
  border: 2px solid var(--basic-white);
}

.fieldset-price__input-box label {
  text-align: end;
}

.fieldset-price__input {
  width: 100px;
  padding-left: 5px;
  background-color: transparent;
  color: var(--basic-white);
}

.fieldset-price__input-box label:first-child::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fieldset-price .price-range {
  width: 317px;
}

.form-search__button {
  /* margin-top: 15px; */
  width: 137px;
  padding-top: 7px;
  padding-bottom: 8px;
  align-self: center;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  cursor: pointer;
}

.form-search__button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/*Results*/

.results__sort {
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.results__found {
  flex-basis: 143px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.results__text {
  flex-basis: 96px;
  font-size: 12px;
  line-height: 18px;
}

.results__item {
  padding-bottom: 30px;
  padding-top: 24px;
  display: flex;
  gap: 29px;
  border-bottom: 1px solid var(--basic-lighter);
}

.results__item:first-child {
  border-top: 1px solid var(--basic-lighter);
}

.results__item .button--light {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 17px;
  padding-right: 16px;
}

.results__item .button--dark {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 16px;
  padding-right: 17px;
}

.results__img-box {
  display: flex;
  align-items: center;
  width: 135px;
  background-color: var(--basic-neutral);
  align-self: flex-end;
}

.results__img-box img {
  width: 135px;
  height: 90px;
}

.results__description {
  flex-basis: 363px;
  flex-grow: 1;
}

.results__description p {
  margin-bottom: 18px;
  display: flex;
  width: 177px;
  justify-content: space-between;
}

.results__subtitle {
  margin-bottom: 7px;
}

.results__subtitle a {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.results__subtitle a:hover {
  color: var(--special-light-color);
}

.results__subtitle a:focus {
  color: var(--transparent-black);
}

.results__item .button {
  color: var(--basic-white);
  font-weight: 700;
}

.raiting {
  padding-top: 3px;
  padding-bottom: 3px;
  flex-basis: 110px;
  text-align: center;
  align-self: flex-end;
  background-color: var(--basic-lightest);
}

/*Sort List*/


.sort-list__item a {
  font-size: 12px;
  line-height: 18px;
  color: var(--transparent-black);
  border-bottom: 1px dashed var(--special-light-color);
}

.sort-list__item a:hover {
  color: var(--special-light-color);
}

.sort-list__item a:focus {
  color: var(--basic-black);
  border: none;
}

.sort-list__item--current a {
  border: none;
  color: var(--special-light-color);
}

.sort-type {
  flex-grow: 1;
}

.sort-direction {
  flex-basis: 127px;
  text-align: end;
}

/*footer*/

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 23px;
  padding-bottom: 42px;
}

.contacts {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.footer .contacts {
  text-align: center;
  justify-self: end;
  align-self: end;
  width: 327px;

}

.contacts__tag {
  margin-bottom: 9px;
}

.contacts__phone {
  color: var(--basic-black);
}

.footer .social {
  align-self: end;
  text-align: center;
}

.social__list {
  display: flex;
  width: 150px;
  margin: 0 auto;
  justify-content: space-between;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: var(--special-light-color);
}

.social-button:hover {
  background-color: var(--special-second-light-color);
}

.social-button:focus {
  background-color: var(--special-third-light-color);
}

.social-button:focus path {
  fill-opacity: 0.3;
  /* fill: var(--transparent-white); */
}

.footer .develope {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 327px;
  align-self: end;
}

.develope span {
  line-height: 26px;
  margin-right: 15px;
}

.develope a:hover path {
  fill: var(--special-light-color);
}

.develope a:focus path {
  fill: var(--basic-light);
}

/*1. Иконка календаря и HTML academy. Разобраться, как применить стили ко всему свг элементу, а не только к отдельным паф*/
/*:focus для этих элементов не работает. Можно ли все это реализовать с помощью JS?*/
